<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forget password.css')}}">
</head>
<body>
    <request>
        <div class="forget_password_head">
            <form class='reset_password' action="/reset" method="post">
                <label for="Email">Please enter your email</label>
                <input type="text" id="Email" name="Email" pattern="[a-zA-Z0-9]+$" title="Only English and numbers are allowed." required><br>
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </request>
</body>
</html>