<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <section>
        <div class="Login-head">
            <div class="head">
                <form class="Login-form" action="/login" method="post">
                    <h1>Login</h1><br>
                    <div class="input-filed">
                        <label for="Email">Please enter your Email</label>
                        <input type="text" id="Email" name="Email" required><br>
                    </div>
                    <div class="input-filed">
                        <label for="Username">Set up Username</label>
                        <input type="text" id="Username" name="Username" required><br> 
                    </div>
                    <div class="input-filed">
                        <label for="Password">Please enter your Password</label>
                        <input type="password" id="Password" name="Password" required><br>
                    </div>
                    <button type="submit">Register</button><br>
                    <div class="login-form-footer">
                        <a href="#">
                            <img class="social-icon"
                            width="30"
                            src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"
                            alt="">Facebook
                        </a>
                        <a href="#">
                            <img class="social-icon"
                            width="30"
                            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" 
                            alt="">Google
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>